@import "tailwindcss";

/* primary: dc90f7 */
/* secondary: ae72c3 */
/* tertiary: 694576 */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 20px;
  }

  :-webkit-scrollbar-thumb:hover {
    background-color: #454545 !important;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
